.container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: 1200px) {
    max-width: 1023px;
    padding: 0 40px;
  }

  @media (max-width: 1023px) {
    max-width: 983px;
    padding: 0 20px;
  }

  @media (max-width: 768px) {
    max-width: 320px;
  }
}